h3,
button,
form {
  display: inline;
  font-size: 14px;
}
h2 {
  font-size: 17px;
}
img {
  margin: auto;
  display: block;
}
h1 {
  font-size: 30px;
  text-align: right;
}
p {
  font-size: 10px;
  text-align: right;
}

.container {
  margin: 20px auto;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 600px;
  background-color: darkgrey;
}

ul {
  list-style: none;
}

a {
  color: blue;
}
